@import url(https://fonts.googleapis.com/css?family=Crete+Round:400,400italic);

body {
    font-family: 'Crete Round', serif;
    overflow: hidden;
    -webkit-font-smoothing: antialiased;
}

.section {
    text-align: center;
}

nav {
    position: fixed;
    top: 0;
    right: 0;
    z-index: 70;
    text-transform: uppercase;
    list-style-type: none;
}

nav > ul > li {
    border-radius: 10px;
    padding: 2px 5px 5px 5px;
}

nav > ul > li:hover {
   background: #ADD9F4;
}

li {
    display: inline;
    margin: 20px;
}

a {
    text-decoration: none;
}

nav > a,
nav > a:link,
nav > a:visited {
    color:#4C2A85;
}

#hello{
    display: none;
    position: absolute;
    margin-left: 1em;
    top: 45%;
    left: 45%;
}

#bio {
    display: none;
    position: absolute;
    margin-right: 10%;
    top: 40%;
    left: 10%;
}

img {
    width: 720px;
    height: 350px;
}

/* Social Media Swatchbook */
*,
*:after,
*:before {
    box-sizing: border-box;
}

.deck {
    position: absolute;
    width: 10em;
    height: 13em;
    top: 50%;
    left: 40%;
    margin: -6.5em 0 0 -5em;
    -webkit-backface-visibility: hidden;
    text-align: center;
}

.deck__item {
    width: 100%;
    height: 100%;
    position: absolute;
    border-radius: .3em;
    border: 0.1em solid rgba(0, 0, 0, 0.15);
    box-shadow: 0 0 0.3em rgba(0, 0, 0, 0.3), inset 0 6em 6em rgba(255, 255, 255, 0.1);
    transform-origin: 90% 92%;
    transition: .3s;
}
.deck__item:hover ~ .deck__item {
    transform: rotate(120deg);
}

.deck__item:last-of-type:after {
    content: "";
    position: absolute;
    left: 90%;
    top: 92%;
    border-radius: 50%;
    width: 1.2em;
    height: 1.2em;
    background: white;
    margin: -.6em 0 0 -.6em;
    box-shadow: inset 0 1px 1px white, inset 0 -0.3em 0.2em #dddcdb, 0 0 0.6em rgba(0, 0, 0, 0.2);
}

.deck__item:last-of-type:before {
    content: "";
    position: absolute;
    right: .4em;
    bottom: .9em;
    width: 1.1em;
    height: .15em;
    background: rgba(0, 0, 0, 0.1);
    z-index: 2;
}

.deck__link {
    text-decoration: none;
    display: block;
    color: rgba(255, 255, 255, 0.8);
}

.small {
    position: absolute;
    top: 0;
    left: 0;
    display: inline;
    margin: .5em;
}

i {
    color: #fff;
}


.deck__item--github {
    background: #4183c4;
    transform: rotate(-15deg);
}

.deck__item--email {
    background: #00a0d1;
}

.deck__item--linkedin {
    background: #0e76a8;
    transform: rotate(15deg);
}

.deck__item--resume {
    background: #db4a39;
    transform: rotate(30deg);
}

#talk {
    position: absolute;
    top: 10%;
    left: 30%;
}

.fa-5x {
    display: inline;
}
